.um-admin-notice[data-key="reviews_notice"],
#bootswatch-notice-dependencies {
	display: none;
}

.tonopah-list-table {
	width: 100%;
	border: 0.2em solid #bdf;
	margin-top: 1em;
	margin-bottom: 1em;
	table-layout: fixed;
}

/*.tonopah-cashgame-list th:nth-child(1) {
	width: 50%;
}*/

.tonopah-list-table td {
	border: 0.2em solid #bdf;
}

.tonopah-list-table td a,
.tonopah-list-table td a:focus,
.tonopah-list-table td a:link,
.tonopah-list-table td a:hover,
.tonopah-list-table td a:active {
	display: block;
	padding: 1em;
	color: #222;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
}

.tonopah-list-table th {
	padding: 1em;
	background-color: #bdf;
	color: #222;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.tonopah-list-table tr:hover {
	background-color: #bdf;
}

.tonopah-client-container {
	position: relative;
	width: 100%;
	padding-top: 75%;
}

.tonopah-client {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}