.tonopah-table-image {
	left: 101px;
	top: 94px;
}

.table-card-container {
	left: 255px;
	top: 190px;
}

.table-button-container {
	left: 325px;
	top: 575px;
}

.table-button {
	cursor: pointer;
}

.table-button-text {
	width: 95px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: "Arial";
	top: 30px;
	color: #fff;
	text-shadow: 1px 1px 0 black;
	filter: drop-shadow(0 0 2px black);
}

.table-button-value {
	width: 95px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: "Arial";
	top: 52px;
	color: #000;
}
