.tonopah-table {
	white-space: normal;
/*	background-color: #040;*/
	width: 960px;
	height: 720px;
}

.portrait .tonopah-table {
	width: 720px;
	height: 960px;
}

.tonopah-table-image {
	left: 101px;
	top: 94px;
}

.portrait .tonopah-table-image {
	transform: scaleX(-1.25) scaleY(0.90) rotate(90deg);
	transform-origin: 0 0;
}

.table-card-container {
	left: 255px;
	top: 190px;
}

.table-card-highlight {
	left: 270px;
	top: 260px;
	width: 420px;
	background-color: rgba(0,0,0,.66);
	color: #ffffff;
	font-family: "Arial";
	font-weight: bold;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 15px;
}

.table-info {
	font-family: "Arial";
	font-weight: bold;
	font-size: 24px;
	left: 300px;
	top: 550px;
	width: 360px;
}

.table-info p {
	position: static;
	margin: 0;
	margin-bottom: 20px;
}

.table-info .dialog-button {
	margin: 0;
}