/* src/client/view/TonopahView.css */
.tonopah-table-image {
  left: 101px;
  top: 94px;
}
.table-card-container {
  left: 255px;
  top: 190px;
}
.table-card-highlight {
  left: 270px;
  top: 260px;
  width: 420px;
  background-color: rgba(0, 0, 0, .66);
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 15px;
}
.table-info {
  font-family: "Arial";
  font-weight: bold;
  font-size: 24px;
  left: 300px;
  top: 550px;
  width: 360px;
}
.table-info p {
  position: static;
  margin: 0;
  margin-bottom: 20px;
}
.table-info .dialog-button {
  margin: 0;
}

/* src/utils/ContentScaler.css */
.content-scaler-outer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-scaler-inner {
  position: absolute;
  transform-origin: 0 0;
  top: 0;
  left: 0;
}
.content-scaler-inner * {
  position: absolute;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

/* src/client/view/CardView.css */
.card-symbol-image {
  left: 8px;
  top: 25px;
}
.card-symbol-text {
  width: 18px;
  text-align: center;
  left: 8px;
  top: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Arial";
}
